<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <style>
        .scrollbar {
            height: 500px !important;
            overflow: scroll;
        }

        ::-webkit-scrollbar {
            display: none;
        }
    </style>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>OneStopLogs</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('hello') }}">OneStop-Logs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('LoginLogs') }}">Overview<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Security') }}">Security</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('Application') }}">Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('System') }}">System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('System') }}">Timeline Analysis</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('raw') }}">Raw</a>
            </li>
        </ul>
    </div>
</nav>


<div class="row">
    <div class="col-md-6">

        <canvas id="pie-chart" type="submit"></canvas>
        <form method="POST">
            <button type="submit" class="btn btn-primary" id="e01" name="buttonName" value="Information" hidden>
                Primary
            </button>
        </form>
    </div>
    <div class="table-responsive col-md-6 scrollbar left">
        <table class="table">
            <caption style="caption-side: top;font-weight: bold;font-size:150%">{{chosen}}</caption>
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Source</th>
                <th scope="col">Message</th>

            </tr>
            </thead>
            <tbody>
            {% for item in dumps %}
            <TR>
                <TD class="c1">{{item.time}}</TD>
                <TD class="c2">{{item.user}}</TD>
                <TD class="c3" style="max-width:300px;word-wrap:break-word;">{{item.message}}<SPAN></SPAN></TD>

            </TR>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css" rel="stylesheet">
<script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
{% block javascript %}
<script type="text/javascript">
    var data = '{{ cats | tojson |  safe }}'
    var data1 = JSON.parse(data)
    new Chart(document.getElementById("pie-chart"), {
        type: 'pie',
        data: {
            labels: ["Warning", "Information", "Error", "Critical"],
            datasets: [{
                backgroundColor: ["#ffff99", "#00cc00", "#ff3300", "#9966ff"],
                data: data1
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Category (click me)'
            },
            onClick: (evt, item) => {
                var label = item[0]['_model'].label
                document.getElementById("e01").value = label
                document.getElementById("e01").click();
            }
        }
    });

</script>

{% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>