<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OneStopLogs</title>
    <meta name="description" content="Bootstrap.">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
</head>
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('hello') }}">OneStop-Logs</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('LoginLogs') }}">Overview<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Security') }}">Security</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Application') }}">Application</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('System') }}">System</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('Timeline') }}">Timeline Analysis</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('raw') }}">Raw</a>
            </li>
        </ul>
    </div>
</nav>


<form method="POST">

    <button type="submit" class="btn btn-primary" name="Application" value="Application">Application</button>
    <button type="submit" class="btn btn-primary" name="Security" value="Security">Security</button>
    <button type="submit" class="btn btn-primary" name="System" value="System">System</button>

</form>
<table id="myTable" class="table table-striped">
    <thead>
    <tr>
        <th>EventID</th>
        <th>MachineName</th>
        <th>Data</th>
        <th>Index</th>
        <th>Category</th>
        <th>CategoryNumber</th>
        <th>EntryType</th>
        <th>Message</th>
        <th>Source</th>
        <th>ReplacementStrings</th>
        <th>InstanceId</th>
        <th>TimeGenerated</th>
        <th>TimeWritten</th>
        <th>UserName</th>

    </tr>
    </thead>
    <tbody>
    {% for item in dumps %}
    <TR>
        <TD class="c1">{{item.EventID}}</TD>
        <TD class="c2">{{item.MachineName}}</TD>
        <TD class="c3">{{item.Data}}</TD>
        <TD class="c1">{{item.Index}}</TD>
        <TD class="c2">{{item.Category}}</TD>
        <TD class="c3">{{item.CategoryNumber}}</TD>
        <TD class="c1">{{item.EntryType}}</TD>
        <TD class="c2">{{item.Message}}</TD>
        <TD class="c3">{{item.Source}}</TD>
        <TD class="c1">{{item.ReplacementStrings}}</TD>
        <TD class="c2">{{item.InstanceId}}</TD>
        <TD class="c3">{{item.TimeGenerated}}</TD>
        <TD class="c1">{{item.TimeWritten}}</TD>
        <TD class="c2">{{item.UserName}}</TD>
    </TR>
    {% endfor %}
    </tbody>
</table>

</body>
<script>
    $(document).ready(function () {
        $('#myTable').dataTable();
    });
</script>
</html>